<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="My_portfolio.css">
    <title>Portfolio

    </title>

</head>


<body background="../img/Cloud_for_WeBsite_sized_for_Joe.jpg" >



    <div id="header">
        <div class="container">
            <div id="branding">
                <h1>Emre <span id="spanColor">Tokaç </span> </h1>
            </div>
            <div id="nav">
                <ul>
                    <li><a href="My_portfolio.html" target="_blank">HOME</a></li>
                    <li><a href="My_portfolio_about.html" target="_blank">ABOUT</a></li>
                    <li><a href="My_portfolio_contact.html" target="_blank">CONTACT</a></li>
                    
                </ul>
            </div>
        </div>
    </div>

    <div id="main">
        <div class="container">
            <h1>
                I'm a Devops Coder. 
            </h1>  
            <br>
            <p>
                My name is Emre. I was born in Turkey in Nineteen ninety two. I love video games and biking and to learn new things.I have a university degree. I enrolled in a program to receive my Master's Degree  about hydropower engineering on Ukraine, and I haven't finished yet but I will in the future. My profession civil engineering. I am not actively working.Im a freelancer. I was checking and experimenting the construction when i work.I was comparing building situtaions with the approved project. Sometimes I was doing a column and beam strength test.(Shimith test and slump test)  Slumb about cement mortar. i'm making  Schmidt test to the surface on column and beam.
            </p>

        </div>
    </div>
    <div class="kutu_uyari">İş birliği için bana buradan yazabilirsiniz.</div>
   
   
    <form action="My_portfolio.html" method="post" id="commentform" class="comment-form">

        <p class="comment-notes"><span id="email-notes">E-posta hesabınız yayımlanmayacak.</span> Gerekli alanlar <span class="required">*</span> ile işaretlenmişlerdir</p>

        <p class="comment-form-comment"><label for="comment">Yorum</label><textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea></p>

        <p class="comment-form-author"><label for="author">İsim <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" maxlength="245" required="required"></p>

        <p class="comment-form-email"><label for="email">E-posta <span class="required">*</span></label> <input id="email" name="email" type="text" value="" size="30" maxlength="100" aria-describedby="email-notes" required="required"></p>

        <p class="comment-form-url"><label for="url">İnternet sitesi</label> <input id="url" name="url" type="text" value="" size="30" maxlength="200"></p>
        
        <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Yorum gönder"> <input type="hidden" name="comment_post_ID" value="1081303" id="comment_post_ID">
        <input type="hidden" name="comment_parent" id="comment_parent" value="0"></p>
        
        <p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="514a9fb6f9"></p>
        
        <p style="display: none !important;"><label>Δ<textarea name="ak_hp_textarea" cols="45" rows="8" maxlength="100"></textarea></label><input type="hidden" id="ak_js_1" name="ak_js" value="1654613085102"></p>

    </form>

</body>
</html>